<%= simple_form_for @list do |f| %>
  <%= f.input :title,
              input_html: { class: "input-style" },
              placeholder: "Groceries" %>
  <h3> <strong> Tasks </strong> </h3>
  <div id='tasks'>
    <%= f.simple_fields_for :tasks do |task| %>
      <%= render 'task_fields', :f => task %>
    <% end %>
    <div class='links mt-4 link-underline-add'>
      <%= link_to_add_association 'Add a new task', f, :tasks %>
    </div>
  </div>
  <%= f.submit 'Save', class: "mt-2 btn-blue btn-block font-weight-bold" %>
<% end %>