<% lists.each_with_index do |list, index| %>
	<p data-list-id= "<%= list.id %>"> 
		<span class="highlight">
			<%= "#{index+1}. " %>
			<%= link_to list_path(list) do  %>
				<%= list.title %>
			<% end %>
			<% if policy(list).destroy? %>
				<%= link_to list_path(list), method: :delete, remote: true do %>
					<i class="far fa-trash-alt"></i>
				<% end %>
			<% end %>
		</span>
	</p>
<% end %>