<span data-task-id= "<%= task.id %>">
	<% if task.status? %>
		<h5> [✔] <del> <%= task.description %> </del>
			<% if policy(List).undone? %>
				<%= render 'undone', task: task %>
			<% end %>
		</h5>
	<% else %>
		<h5> [ ] <%= task.description %>
			<% if policy(List).done? %>
				<%= render 'done', task: task %>
			<% end %>
		</h5>
	<% end %>
</span>