<span data-task-id= "<%= task.id %>">
	<% if task.status? %>
		<h5> 
			<span class="highlight">
				[✔] <del> <%= task.description %> </del>
				<% if policy(@list).undone? %>
					<%= render 'undone', task: task %>
				<% end %>
			</span>
		</h5>
	<% else %>
		<h5> 
			<span class="highlight">
				[ ] <%= task.description %>
				<% if policy(@list).done? %>
					<%= render 'done', task: task %>
				<% end %>
			</span>
		</h5>
	<% end %>
</span>