<% @lists.each_with_index do |list, index| %>
	<%= link_to list_path(list) do  %>
	<p> 
		<%= "#{index+1}. " %>
		<%= list.title %>
		<%= link_to "delete", list_path(list), method: :delete %>
	</p>
	<% end %>
<% end %>

<%= link_to "Create a list", new_list_path(@list) %>