<div class="container-margins">
	<div class="headers-box">
		<h1> <%= @list.title %> </h1>
	</div>
	<% @list.tasks.each do |task| %>
		<% if task.status? %>
			<h5> [✔] <del> <%= task.description %> </del>
				<%= link_to undone_list_path(task), :task => task.id do %>
				<i class="fas fa-undo-alt"></i>
			<% end %>
			</h5>
		<% else %>
			<h5> [ ] <%= task.description %>
				<%= link_to done_list_path(task), :task => task.id do %>
					<i class="far fa-check-circle"></i>	
				<% end %>
				</h5>
		<% end %>
	<% end %>

	<%= link_to "Back", root_path %>
</div>