<div class="container-margins">
	<div class="btn-back-margin">
    <%= link_to list_path(@list), class: "btn-back" do %>
      <i class="fas fa-chevron-circle-left"></i> <%= @list.title %>
    <% end %>
  </div>

	<%= simple_form_for @list do |f| %>
		<div id='tasks'>
	    <%= f.simple_fields_for :tasks do |task| %>
	      <%= render 'task_fields', :f => task %>
	    <% end %>
	   	<div class='links mt-4 link-underline-add'>
	   		<%= link_to_add_association 'Add a new task', f, :tasks %>
	   	</div>
	  </div>
	  <%= f.submit 'Save', class: "mt-2 btn-blue btn-block font-weight-bold" %>
	<% end %>
</div>